<!DOCTYPE HTML>
<html>
    <head>
        <meta content='text/html'>
        <meta charset="ansi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{{title}}}</title>
        <link rel="stylesheet" href="/stylesheets/stylesheet.css">
        <script src='/javascripts/jquery/dist/jquery.min.js'></script>  
    </head>
    <body> 
        <div class='main-content'>
            <h2 class = 'header'>Сравнение двух семантических моделей</h2>

            <p class = 'paragraph'>Загрузить синтактическую модель и построить семантическую модель</p>
            <input type = 'file' id='userGraph'>
            <button id='take-graph' class = 'button-action'>Загрузить и построить</button>
            <p class = 'paragraph'>Результат построения модели №1</p>         
            <textarea id = 'output-built'></textarea>

            <p class = 'paragraph'>Загрузить модель №2 для сравнения</p>
            <input type = 'file' id = 'userFile'>

            <button id = 'take-xml' class = 'button-action'>Сравнить</button>
            <p class = 'paragraph'>Результат сравнения</p>
            <textarea id = 'output-result'></textarea>

            <button id = 'reload' class = 'button-action'>Попробовать ещё раз</button>
            <a class = 'link-action' href='/patent-search'>>>Отбор патентов из базы</a>

            <div id = 'container'></div>
        </div>
        <script src='/javascripts/app.js'></script>
        <script src='/javascripts/subsystemBuild.js'></script>
        <script src='/javascripts/subsystemCompare.js'></script>
        <script src='/javascripts/subsystemBase.js'></script>
    </body>
</html>